<%= form_for ([@recipe, @comment]) do |f| %>
  <%= render 'layouts/errors', object: @comment %>
     
         <p>
             <%= f.label :Nome%>
             <%= f.text_field :name %>
         </p>
 
         <p>
             <%= f.label :Estrelas%>
             <%= f.select :rating, Comment::RATING, prompt: 'Escolha a quantidade  de estrelas'%>
         </p>      
 
         <p>
             <%= f.label :Comentário%>
             <%= f.text_area :comment, placeholder: "Escreva seu comentario"%>
         </p>        
 
         <p>            
             <%= f.submit%>
             <%= link_to "Cancelar", root_path %> 
         </p>
 
     
 <% end %>
    